@import "ui-variables";;

.highlight-overflow .region {
  background-color: @background-color-error;
  opacity: 0.5;
  -webkit-animation-name: overflow-blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes overflow-blinker {
    0% { opacity: 0.6; }
    50% { opacity: 0.5; }
    100% { opacity: 0.6; }
}
